<!doctype html>  
<html lang="en">  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection"content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
        <meta http-equiv="pragma" content="no-cache">  
        <meta http-equiv="cache-control" content="no-cache">  
        <meta http-equiv="expires" content="0">
        <link rel="stylesheet" type="text/css" href="//cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>运营商数据</title>
    </head>
    <body>
        <div id="wrap"></div>
        <script src="//j2.58cdn.com.cn/finance/58/m/js/new_lottery/zepto.js"></script>
        <script src="//j2.58cdn.com.cn/finance/58/m/js/new_lottery/react.min.js"></script>
        <script src="//j2.58cdn.com.cn/finance/58/m/js/new_lottery/react-dom.min.js"></script>
        <script src="//j2.58cdn.com.cn/finance/58/m/js/new_lottery/react-router.min.js"></script>
    </body>
</html> 